

@media screen and (max-width:654px) {

  .stak_icon{
    justify-content: center;
    align-items: center;
  }
  .button_contect{
    width: 30% !important
  }
}

@media screen and (max-width:1028px) {

  /* .home_container{
    height: 500px !important;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(241,255,2,1) 100%);
  } */
  .about_myimg{
    height: 50% !important;
    width: 63% !important;
    margin-top: 16% !important;
    margin-left: 17% !important;
  }
  .about_container{
    height: 380px !important;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(241,255,2,1) 100%);
  }
  .button_contect{
    width: 30% !important;
  }
}

@media screen and (max-width:770px) {
  /* .home_container{
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(241,255,2,1) 100%);
  } */
}
@media screen and (max-width:930px) {

  /* .home_container{
    height: auto !important;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(241,255,2,1) 100%);
  } */
  .button_contect{
    width: 30% !important;
  }
}
@media screen and (max-width:451px) {

  /* .home_container{
    height: 510px !important;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 21%, rgba(255,255,255,1) 30%, rgba(241,255,2,1) 100%);
  } */
  .button_contect{
    width: 40% !important;
    font-size: 10px !important;
  }
 
  
}
@media screen and (max-width:899px) {

  .home_myimg{
    height: 50% !important;
    width: 63% !important;
    margin-top: 3% !important;
    margin-left: 17% !important;
  }
  .button_contect{
    width: 30% !important;
    font-size: 13px ;
  }
}